### Intellij ###
# Covers JetBrains IDEs: IntelliJ, RubyMine, PhpStorm, AppCode, PyCharm
 
## Directory-based project format
.idea/
 
## File-based project format
*.ipr
*.iws
*.iml
 
## Additional for IntelliJ
out/